brotlipy==0.7.0
flask==1.1.2
gunicorn==20.0.4
jupyter==1.0.0
jupyterlab==2.1.5
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
olefile==0.46
pip-chill==1.0.0
pyopenssl==19.1.0
pysocks==1.7.1
seaborn==0.10.1
